body {
    background-color: rgb(13, 120, 156);
  }
  
  h1 {
    color: navy;
    text-align: center;
  }
  
  p {
    font-size: 18px;
    color: darkgray;
  }
  
  .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }

